* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 100% ;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu {
    width: 25px;
    cursor: pointer;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;    
}
nav ul li a:hover{
    color: red;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col1 h2 {
    font-size: 55px;
}
.col1 h3 {
    font-size: 30px;
    color: #786347;
    font-weight: 100;
    margin: 20px 0 20px;
}
.col1 p {
    font-size: 16px;
    color: #675654;
    font-weight: 100;
}
.col1 h4 {
    font-size: 20px;
    margin: 30px 0;
}
button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background : linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img {
    width: 30px;
    display: none;
} 
button:hover img {
    display: block;
}
button:hover {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col1:after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #fb5135, #ff9854);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col2 .joystick {
    width: 90%;
}
.colorBox {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#fb7865, #341f1c);
    border-radius: 20px 0 0 20px;
    height: 90%;
    width: 100%;
    z-index: -1;
    transform: translate(150px);
}
.addButton img {
    width: 30px;
    margin-bottom: 5px;

}
.addButton {
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.socialLinks img {
    height: 40px;
    margin: 20px;
    cursor: pointer;
}
.socialLinks{
    text-align: center;
}




@media only screen and (max-width: 700px) {
    nav ul {
          width: 100%;
          background: linear-gradient(#fb5283, #ff3527);
          position: absolute;
          top: 75px;
          right: 0;
          z-index: 2; 
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: white;
    }
    .menu {
        display: block;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col2 .joystick {
        width: 77%;
    }
    .colorBox {
        transform: translateX(75px);
    }
    .col1 {
        flex: 100%;
    }
    .col1 h2 {
        font-size: 35px;
    }
    .col1 h3 {
        font-size: 15px;
    }
}